


.detailContainer {
  position: relative;
  width: 100vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  z-index: 0;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.detailedBreed {
  position: absolute;
  top: 2em;
  width: 340px;
  border-radius: 20px;
  z-index: 2;
  overflow: hidden;
}

.detailedBg1 {
  position: absolute;
  z-index: 4;
  top: -20%;
  left: -20%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  opacity: 80%;
}


.detailedBg2 {
  position: absolute;
  z-index: 5;
  bottom: -20%;
  right: -20%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  opacity: 80%;
}

.detailedBgWhite {
  position: absolute;
  background-color: white;
  z-index: 3;
  top: 35%;
  bottom: 0;
  width: 315px;
  height: 340px;
  border-radius: 20px;
  overflow: hidden;
}

.detailedInfo {
  position: absolute;
  background-color: transparent;
  z-index: 6;
  width: 315px;
  height: 340px;
  text-align: center;  
  margin-bottom: auto;
  margin-top: auto;
  box-sizing: border-box;
}

.detailedInfo h2 {
  font-size: 1.3em;
  margin: 1.5em  auto 0 auto;
}

.detailedInfo h3 {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

.detailedInfo p {
  margin: 0 auto 0 auto;
  width: 300px;

}

@media only screen and (min-width: 640px) {
  .detailedBreed {
    width: 314px;
  }

  .detailedBgWhite {
    top: 27%;
    width: 360px;
    height: 402px;
  }

  .detailedInfo{
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .detailedBg2 {
    width: 250px;
    height: 250px;
    
  }
  .detailedBg1 {
    width: 250px;
    height: 250px;
  }
  
}
