.containerPag{
    display: flex;
    width: 81%;
    background-color: rgba(137, 43, 226, 0.452);
    height: 89%;
    margin: 1%;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-x: scroll;
    align-content: center;
    justify-content: center;
}