.containerDash{
    display: flex;
    padding: 0;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #24202011;
    height: 89vh;
    width: 100vw;
    box-sizing: content-box;

}

@media only screen and (min-width: 640px) {
    .containerDash{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
  
}
